@import "tailwindcss";

body {
    margin: 0;
}

html, body {
  overscroll-behavior: none;
  margin: 0;
  padding: 0;
  height: 100%;
  /* overflow: hidden; */
  background-color: rgb(19, 19, 19);
  color: white;
}

* {
  font-family: "Cascadia Mono", Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 16px;   
  line-height: 1.4;
  font-weight: 400;
  letter-spacing: 0;
}